/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #f8f8f8;
    padding: 20px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
  
  nav ul li {
    margin-right: 10px;
}
  
  /* Main Content Styles */
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
  section {
    margin-bottom: 30px;
}
  
  section h2 {
    margin-top: 0;
    font-size: 24px;
}
  
  section ul li {
    margin-bottom: 5px;
}
  
  .project, .job {
    margin-bottom: 20px;
}
  
  .project h3, .job h3 {
    margin-top: 0;
    font-size: 20px;
}

.image-container {
    width: 400px; /* Adjust the width as needed */
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-container p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
  
  /* Skills Section Styles */
  #skills ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

#solar-system {
    background-color: #000;
    width: 800px;
    height: 800px;
    position: relative;
    margin: 50px auto;
    border: 2px solid #FFF;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
  
.planet {
    position: absolute;
    border-radius: 50%;
    border: 2px solid #FFF;
}

.sun {
    width: 150px;
    height: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    border-radius: 50%;
    animation: rotate 20s linear infinite;
    transform: translate(-50%, -50%);
    background-color: #FFCA1F;
    background-image: radial-gradient(circle, #FFCA1F 20%, #FFF000 80%);
    box-shadow: 0 0 50px 10px #FFCA1F;

}

  
.sun:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: radial-gradient(#FDB813, transparent);
    border-radius: 50%;
    opacity: 0.8;
}

.earth {
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    background-color: #3B9CFF;
    background-image: radial-gradient(circle, #3B9CFF 20%, #1441A3 80%);
    box-shadow: 0 0 10px 2px #3B9CFF;
    animation: orbit-earth 10s linear infinite;
    overflow: hidden;
    border-radius: 50%;
    
}
.earth:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background: radial-gradient(#3B9CFF, transparent);
    border-radius: 50%;
    opacity: 0.5;
    background-color: #F8F8F8;
    z-index: 1;
}
.earth .continent {
    position: absolute;
    background-color: #226F2A;
    border-radius: 50%;
}
.earth .continent:nth-child(1) {
    width: 8px;
    height: 8px;
    top: 10%;
    left: 35%;
}
.earth .continent:nth-child(2) {
    width: 6px;
    height: 6px;
    top: 20%;
    left: 60%;
}
.earth .continent:nth-child(3) {
    width: 5px;
    height: 5px;
    top: 30%;
    left: 80%;
}

.mars {
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    background-color: #FF5233;
    background-image: radial-gradient(circle, #FF5233 20%, #9C2815 80%);
    box-shadow: 0 0 5px 1px #FF5233;
    animation: orbit-mars 15s linear infinite;
    border-radius: 50%;
}
.mars:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    background: radial-gradient(#FF5233, transparent);
    border-radius: 50%;
    opacity: 0.5;
    background-color: #F8F8F8;
    z-index: 1;
}
.mars .crater {
    position: absolute;
    background-color: #BBB;
    border-radius: 50%;
}
.mars .crater:nth-child(1) {
    width: 4px;
    height: 4px;
    top: 10%;
    left: 35%;
}
.mars .crater:nth-child(2) {
    width: 3px;
    height: 3px;
    top: 20%;
    left: 60%;
}
.mars .crater:nth-child(3) {
    width: 2px;
    height: 2px;
    top: 30%;
    left: 80%;
}
    
.moon {
    width: 12px;
    height: 12px;
    top: calc(50% - 6px);
    left: calc(50% + 40px);
    background-color: #DDD;
    border-radius: 50%;
    overflow: hidden;
    animation: orbit-moon 5s linear infinite;
    position: absolute;
    z-index: -1;
}
.moon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    background-color: #DDD;
    border-radius: 50%;
    
}
    
.moon .crater {
    position: absolute;
    background-color: #BBB;
    border-radius: 50%;
}

.moon .crater:nth-child(1) {
    width: 4px;
    height: 4px;
    top: 20%;
    left: 40%;
}

.moon .crater:nth-child(2) {
    width: 3px;
    height: 3px;
    top: 40%;
    left: 65%;
}

.spaceship {
    width: 10px;
    height: 20px;
    background-color: #ff00f7;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% + 110px);
    transform-origin: center center;
    animation: fly-around 8s linear infinite;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 0, 247, 0.8);
}
.spaceship:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 60px;
    height: 20px;
    background-color: #888;
}

.shooting-star {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    background-image: url('shootingstar.png'); 
    background-color: #ffffff00;
    animation: shooting-star 5s linear infinite;
    filter: brightness(200%);
    opacity: 0;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes orbit-earth {
    0% {
      transform: rotate(0deg) translateX(200px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(200px) rotate(-360deg);
    }
}
@keyframes orbit-mars {
    0% {
      transform: rotate(0deg) translateX(300px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(300px) rotate(-360deg);
    }
}
@keyframes orbit-moon {
    0% {
      transform: rotate(0deg) translateX(50px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(50px) rotate(-360deg);
    }
}
@keyframes fly-around {
    0% {
      transform: rotate(0deg) translateX(90px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(90px) rotate(-360deg);
    }
}

@keyframes shooting-star {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1; /* Fade-in effect */
  }
  70% {
    opacity: 1; /* Maintain visibility */
  }
  100% {
    transform: translate(300vw, 300vh);
    opacity: 0;
  }
}


.car {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(f1.jpg); 
    background-repeat: no-repeat;
    background-size: contain;
    top: 480px; /* Adjust starting position */
    left: 290px; /* Adjust starting position */
    transform: translate(-50%, -50%);
}
.track {
  position: relative;
  width: 800px;
  height: 520px;
  background-color: #9b9b9b;
  border: 2px solid #000;
  border-radius: 10px;
}

.inner-track {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 700px;
  height: 420px;
  background-color: #767676;
}

.checkpoint {
  position: absolute;
  background-color: #007bff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.start {
  top: 220px;
  left: 100px;
}

.sainte-devote {
  top: 195px;
  left: 220px;
}

.beau-rivage {
  top: 170px;
  left: 380px;
}

.massenet {
  top: 160px;
  left: 500px;
}

.casino-square {
  top: 185px;
  left: 600px;
}

.mirabeau {
  top: 235px;
  left: 650px;
}

.tabac {
  top: 310px;
  left: 640px;
}

.swimming-pool {
  top: 370px;
  left: 570px;
}

.la-rascasse {
  top: 420px;
  left: 440px;
}

.antony-noghes {
  top: 435px;
  left: 290px;
}
  

@keyframes carMove {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(400px, 250px) rotate(15deg);
  }
  40% {
    transform: translate(540px, 270px) rotate(30deg);
  }
  60% {
    transform: translate(620px, 320px) rotate(45deg);
  }
  100% {
    transform: translate(700px, 380px) rotate(90deg);
  }
}
@keyframes carMove2 {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  20%{
    transform: translate(100px, 40px) rotate(15deg);
  }
  40%{
    transform: translate(200px, 80px) rotate(20deg);
  }
  60%{
    transform: translate(300px, 120px) rotate(25deg);
  }
  100% {
    transform: translate(400px, 170px) rotate(45deg) 
  }
}

@keyframes carMove3 {
  0% {
    transform: translate(0px, 0px) rotate(0);
  }
  20%{
    transform: translate(100px, 140px) rotate(15deg);
  }
  40%{
    transform: translate(200px, 80px) rotate(20deg);
  }
  60%{
    transform: translate(300px, 220px) rotate(25deg);
  }
  100% {
    transform: translate(360px, 370px) rotate(45deg) 
  }
}

/* Car 4 */
@keyframes carMove4 {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20%{
    transform: translate(100px, 140px) rotate(15deg);
  }
  40%{
    transform: translate(200px, 80px) rotate(20deg);
  }
  60%{
    transform: translate(300px, 220px) rotate(25deg);
  }
  100% {
    transform: translate(360px, 370px) rotate(45deg) 
  }
}
@keyframes carMove5 {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20%{
    transform: translate(100px, 140px) rotate(15deg);
  }
  40%{
    transform: translate(200px, 80px) rotate(20deg);
  }
  60%{
    transform: translate(300px, 220px) rotate(25deg);
  }
  100% {
    transform: translate(360px, 370px) rotate(45deg) 
  }
}
@keyframes carMove6 {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20%{
    transform: translate(100px, 140px) rotate(15deg);
  }
  40%{
    transform: translate(200px, 80px) rotate(20deg);
  }
  60%{
    transform: translate(300px, 220px) rotate(25deg);
  }
  100% {
    transform: translate(360px, 370px) rotate(45deg) 
  }
}
@keyframes carMove7 {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20%{
    transform: translate(100px, 140px) rotate(15deg);
  }
  40%{
    transform: translate(200px, 80px) rotate(20deg);
  }
  60%{
    transform: translate(300px, 220px) rotate(25deg);
  }
  100% {
    transform: translate(360px, 370px) rotate(45deg) 
  }
}
@keyframes carMove8 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}
@keyframes carMove9 {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20%{
    transform: translate(100px, 140px) rotate(15deg);
  }
  40%{
    transform: translate(200px, 80px) rotate(20deg);
  }
  60%{
    transform: translate(300px, 220px) rotate(25deg);
  }
  100% {
    transform: translate(360px, 370px) rotate(45deg) 
  }
}
@keyframes carMove10 {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  100% {
    transform: translate(50px, 100px) rotate(45deg)
  }
}
@keyframes carMove11 {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  10% {
    transform: translate(5px, 0) rotate(5deg)
  }
  20% {
    transform: translate(10px, 0) rotate(10deg)
  }
  30% {
    transform: translate(15px, 0) rotate(15deg)
  }
  40% {
    transform: translate(20, 0) rotate(20deg)
  }
  50% {
    transform: translate(25px, 0) rotate(25deg)
  }
  60% {
    transform: translate(30px, 0) rotate(30deg)
  }
  70% {
    transform: translate(35px, 0) rotate(35deg)
  }
  100% {
    transform: translate(50px, 0) rotate(45deg)
  }
}
@keyframes carMove12 {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  100% {
    transform: translate(50px, 0) rotate(45deg)
  }
}
@keyframes carMove13 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}
@keyframes carMove14 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}
@keyframes carMove15 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(3px);
  }
}
@keyframes carMove16 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2px);
  }
}
@keyframes carMove17 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1px);
  }
}
@keyframes carMove18 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(140px);
  }
}

  