/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #f8f8f8;
    padding: 20px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
  
  nav ul li {
    margin-right: 10px;
}
  
  /* Main Content Styles */
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
  section {
    margin-bottom: 30px;
}
  
  section h2 {
    margin-top: 0;
    font-size: 24px;
}
  
  section ul li {
    margin-bottom: 5px;
}
  
  .project, .job {
    margin-bottom: 20px;
}
  
  .project h3, .job h3 {
    margin-top: 0;
    font-size: 20px;
}

.image-container {
    width: 400px; /* Adjust the width as needed */
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-container p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
  
  /* Skills Section Styles */
  #skills ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

#solar-system {
    background-color: #000;
    width: 800px;
    height: 800px;
    position: relative;
    margin: 50px auto;
    border: 2px solid #FFF;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
  
.planet {
    position: absolute;
    border-radius: 50%;
    border: 2px solid #FFF;
}

.sun {
    width: 150px;
    height: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    border-radius: 50%;
    animation: rotate 20s linear infinite;
    transform: translate(-50%, -50%);
    background-color: #FFCA1F;
    background-image: radial-gradient(circle, #FFCA1F 20%, #FFF000 80%);
    box-shadow: 0 0 50px 10px #FFCA1F;

}

  
.sun:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: radial-gradient(#FDB813, transparent);
    border-radius: 50%;
    opacity: 0.8;
}

.earth {
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    background-color: #3B9CFF;
    background-image: radial-gradient(circle, #3B9CFF 20%, #1441A3 80%);
    box-shadow: 0 0 10px 2px #3B9CFF;
    animation: orbit-earth 10s linear infinite;
    overflow: hidden;
    border-radius: 50%;
}
.earth:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background: radial-gradient(#3B9CFF, transparent);
    border-radius: 50%;
    opacity: 0.5;
    background-color: #F8F8F8;
    z-index: 1;
}
.earth .continent {
    position: absolute;
    background-color: #226F2A;
    border-radius: 50%;
}
.earth .continent:nth-child(1) {
    width: 8px;
    height: 8px;
    top: 10%;
    left: 35%;
}
.earth .continent:nth-child(2) {
    width: 6px;
    height: 6px;
    top: 20%;
    left: 60%;
}
.earth .continent:nth-child(3) {
    width: 5px;
    height: 5px;
    top: 30%;
    left: 80%;
}

.mars {
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    background-color: #FF5233;
    background-image: radial-gradient(circle, #FF5233 20%, #9C2815 80%);
    box-shadow: 0 0 5px 1px #FF5233;
    animation: orbit-mars 15s linear infinite;
}

.moon {
    width: 12px;
    height: 12px;
    top: calc(50% - 6px);
    left: calc(50% + 30px);
    background-color: #DDD;
    border-radius: 50%;
    animation: orbit-moon 5s linear infinite;
    overflow: hidden;
}
.moon:before {
    content: "";
    position: absolute;
    top: calc(50% - 6px);;
    left: calc(50% + 30px);
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border-radius: 50%;
}
    
.moon .crater {
    position: absolute;
    background-color: #BBB;
    border-radius: 50%;
}

.moon .crater:nth-child(1) {
    width: 4px;
    height: 4px;
    top: 20%;
    left: 40%;
}

.moon .crater:nth-child(2) {
    width: 3px;
    height: 3px;
    top: 40%;
    left: 65%;
}


.spaceship {
    width: 10px;
    height: 20px;
    background-color: #ff00f7;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% + 110px);
    transform-origin: center center;
    animation: fly-around 8s linear infinite;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 0, 247, 0.8);
}
  
.spaceship:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 60px;
    height: 20px;
    background-color: #888;
}


.shooting-star {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    /* background-image: url('shootingstar.png');  */
    background-color: #ffffff00;
    animation: shooting-star 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes orbit-earth {
    0% {
      transform: rotate(0deg) translateX(200px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(200px) rotate(-360deg);
    }
}
@keyframes orbit-mars {
    0% {
      transform: rotate(0deg) translateX(300px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(300px) rotate(-360deg);
    }
}
@keyframes orbit-moon {
    0% {
      transform: rotate(0deg) translateX(50px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(50px) rotate(-360deg);
    }
}
@keyframes fly-around {
    0% {
      transform: rotate(0deg) translateX(90px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(90px) rotate(-360deg);
    }
}

@keyframes shooting-star {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: translate(150vw, 150vh);
    opacity: 1;
  }
  100% {
    transform: translate(300vw, 300vh);
    opacity: 0;
  }
}

  